<%= form_with(model: datum, local: true) do |form| %>
  <% if datum.errors.any? %>
    <div id="error_explanation">
      <h2>Please input the data with correct form:</h2>

      <ul>
      <% datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama , "Nama" %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :email , "Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :notelp , "No Telepon" %>
    <%= form.text_field :notelp %>
  </div>

  <div class="field">
    <%= form.label :alamat , "Alamat"%>
    <%= form.text_field :alamat %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Data" %>
  </div>
<% end %>
