<p id="notice"><%= notice %></p>

<h1>CRUD Website</h1>
<h3>Welcome to the page</h3>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Email</th>
      <th>Notelp</th>
      <th>Alamat</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each_with_index do |datum, i| %>
      <tr>
        <td><%= (i+1) %></td>
        <td><%= datum.nama %></td>
        <td><%= datum.email %></td>
        <td><%= datum.notelp %></td>
        <td><%= datum.alamat %></td>
        <td><%= link_to 'Show', datum %>
            <%= link_to 'Edit', edit_datum_path(datum) %>
            <%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data', new_datum_path %>
