<p id="notice"><%= notice %></p>

<h1>Data Details</h1>
<p>
  <strong>Nama:</strong>
  <%= @datum.nama %>
</p>

<p>
  <strong>Email:</strong>
  <%= @datum.email %>
</p>

<p>
  <strong>Notelp:</strong>
  <%= @datum.notelp %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @datum.alamat %>
</p>

<%= link_to 'Edit Data', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
